<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/header.ejs %>
  </head>
  <body>
    <% include ../partials/navbar.ejs %>
    <img src="/assets/bar.jpg" alt="" class="banner-img">
    <div class="search">
        Events within
        <div class="dropdown">
        <button id='radius-btn' class='drop-btn'><%= miles %> miles</button>
        <div id="radius-dropdown" class="dropdown-content">
          <form id='radius-form' method="post" action = "/location/<%= location %>">
            <input type="text" class='hidden' id='new_radius' name="radius" value="">
            <p data-value='2'>2 miles</p>
            <p data-value='5'>5 miles</p>
            <p data-value='10'>10 miles</p>
            <p data-value='25'>25 miles</p>
          </form>
        </div>
        </div>
        of
        <div class="dropdown">
        <button id='location-btn' class='drop-btn'><%= location %> </button>
        <div id="location-dropdown" class="dropdown-content">
          <form method="post" id="location-form" action="/radius/<%=miles %>">
            <input type="text" name="location" id='location' class="dropdown-content" placeholder='City or Zipcode' value="">
          </form>
        </div>
        </div>
    </div>

    <div id="dashboard" class="dashboard">
      <% for (var i=0; i <data.length; i++){
        var going_class="";
        if (data[i].user_going === true){
          going_class = "going";
        }%>


        <div class="event-wrapper <%=going_class%>">
          <h2><%= data[i].name %></h2>
          <a href="<%=data[i].url %>">
            <img class="" src="<%= data[i].image %>">
          </a>

          <%var noun;
          if (data[i].going == 1){
            noun = "person";
          }else{
            noun = "people";
          }%>

          <button class='url-btn' data-url="<%=data[i].name%>"><%=data[i].going%> <%=noun%> going </button>
        </div>
      <% } %>
    </div>
  </body>
  <script src='/scripts/dropdown.js'>
  </script>
  <script src='/scripts/form_submit.js'>
  </script>
  <script type="text/javascript" src="/scripts/url_buttons.js">

  </script>
</html>
